@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-arrow {
  color: #242e1f !important;
}

::-webkit-scrollbar {
  width: 8px;  /* largura da barra vertical */
}

::-webkit-scrollbar-track {
  background: #F3E9DB; /* secondary-100 */
}

::-webkit-scrollbar-thumb {
  background-color: #4A5F3F; /* primary-200 */
  border-radius: 8px;
  border: 2px solid #F3E9DB; /* cria espaço ao redor */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4A5F3F #F3E9DB;
}
